<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.AdminMapper">
    <select id="getAdminByUsername" resultType="com.mo.entity.Admin">
        select * from admins where username = #{username}
    </select>
    <select id="getAdminByUuid" resultType="com.mo.entity.Admin">
        select * from admins where uuid = #{uuid}
    </select>
    <select id="getAllAdmin" resultType="com.mo.entity.Admin">
        select * from admins
    </select>
    <select id="getPage" resultType="com.mo.entity.Admin">
        select * from admins
        limit #{offset}, #{size}
    </select>

    <update id="updateAdmin" parameterType="com.mo.entity.Admin">
        update admins
        <set>
            <if test="admin.username != null and admin.username != ''" >
                username = #{admin.username},
            </if>
            <if test="admin.password != null and admin.password != ''" >
                `password` = #{admin.password},
            </if>
            <if test="admin.updateTime != null" >
                updateTime = #{admin.updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="saveAdmin"
            parameterType="com.mo.entity.Admin"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into admins(username, password, uuid, createTime, updateTime)
        values(#{username}, #{password}, #{uuid} ,#{createTime}, #{updateTime})
    </insert>

    <delete id="deleteAdmin">
        delete from admins where id = #{id}
    </delete>
</mapper>