<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.AfterSaleMapper">
    <insert id="saveAfterSale"
            parameterType="com.mo.entity.AfterSale"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into after_sales(order_id,reason,status,amount,create_time)
        values(#{orderId},#{reason},#{status},#{amount},#{createTime})
    </insert>
    <update id="updateAfterSale" parameterType="com.mo.entity.AfterSale">
        update after_sales set
        <if test="afterSale.orderId != null">
            orderId = #{orderId}
        </if>
        <if test="afterSale.type != null">
            type = #{type}
        </if>
        <if test="afterSale.reason != null">
            reason = #{reason}
        </if>
        <if test="afterSale.content != null">
            content = #{content}
        </if>
        <if test="afterSale.status != null">
            status = #{status}
        </if>
        <if test="afterSale.amount != null">
            amount = #{amount}
        </if>
        <if test="afterSale.updateTime != null">
            update_time = #{updateTime}
        </if>
        where id = #{id}
    </update>
    <delete id="deleteAfterSale" parameterType="Long">
        delete from after_sales where id = #{id}
    </delete>
    <select id="getAfterSaleById" parameterType="Long" resultType="com.mo.entity.AfterSale">
        select * from after_sales where id = #{id}
    </select>
    <select id="getAfterSales" resultType="AfterSale">
        select * from after_sales where status = "pending"
    </select>
</mapper>