<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.AfterSaleMapper">
    <insert id="saveAfterSale"
            parameterType="com.mo.entity.AfterSale"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into after_sales(order_id,reason,status,createTime)
        values(#{orderId},#{reason},#{status},#{createTime})
    </insert>

    <update id="updateAfterSale" parameterType="com.mo.entity.AfterSale">
        update after_sales
        <set>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="content != null">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">updateTime = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteAfterSale" parameterType="Long">
        delete from after_sales where id = #{id}
    </delete>

    <select id="getAfterSaleById" parameterType="Long" resultType="com.mo.entity.AfterSale">
        select * from after_sales where id = #{id}
    </select>
    <select id="getAfterSales" resultType="com.mo.entity.AfterSale">
        select * from after_sales where status = "pending"
    </select>
</mapper>