<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.CartMapper">
    <select id="getAll" resultType="com.mo.entity.Cart">
        select * from carts
    </select>

    <select id="getCartByUserId" parameterType="long" resultType="com.mo.entity.Cart">
        select * from carts where user_id = #{userId} limit 1
    </select>

    <insert id="createCartIfNotExists">
        INSERT INTO carts (user_id)
        SELECT #{userId}
        WHERE NOT EXISTS (
            SELECT 1 FROM carts WHERE user_id = #{userId}
        )
    </insert>
    <insert id="saveCart"
            parameterType="com.mo.entity.Cart"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into carts (user_id, createTime, updateTime)
        values (#{userId}, #{createTime}, #{updateTime})
    </insert>

    <delete id="deleteCartByUserId">
        DELETE FROM carts WHERE user_id = #{userId}
    </delete>
</mapper>