<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.CommentMapper">
    <insert id="saveOrderComment"
            parameterType="com.mo.entity.OrderComment"
            useGeneratedKeys="true"
            keyProperty="orderComment.id">
        insert into order_comments (order_id, comment) values (#{orderComment.orderId}, #{orderComment.content})
    </insert>
</mapper>