<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.CouponMapper">
    <select id="getCouponByUserId" resultType="com.mo.entity.Coupon">
        select * from coupons where user_id = #{userId}
    </select>
    <select id="getCouponById" resultType="com.mo.entity.Coupon">
        select * from coupons where id = #{couponID}
    </select>
    <select id="getAllCoupons" resultType="com.mo.entity.Coupon">
        select * from coupons
    </select>
    <insert id="saveCoupon" parameterType="com.mo.entity.Coupon" useGeneratedKeys="true" keyProperty="id">
        insert into coupons(user_id,name,description,type,value,start_time,end_time,create_time,update_time)
        values (#{userId}, #{name}, #{description}, #{type}, #{value}, #{startTime}, #{endTime}, #{createTime}, #{updateTime})
    </insert>
    <delete id="deleteCouponById" parameterType="Long">
        delete from coupons where id = #{couponId}
    </delete>
    <update id="updateCoupon" parameterType="com.mo.entity.Coupon">
        update coupons set
        <if test="coupon.userId != null">
            user_id = #{userId}
        </if>
        <if test="coupon.name != null">
            name = #{name}
        </if>
        <if test="coupon.description != null">
            description = #{description}
        </if>
        <if test="coupon.type != null">
            type = #{type}
        </if>
        <if test="coupon.value != null">
            value = #{value}
        </if>
        <if test="coupon.startTime != null">
            start_time = #{startTime}
        </if>
        <if test="coupon.endTime != null">
            end_time = #{endTime}
        </if>
        <if test="coupon.updateTime != null">
            update_time = #{updateTime}
        </if>
        where id = #{id}
    </update>
</mapper>