<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.CustomerMapper">
    <select id="getCustomerByUsername" resultType="com.mo.entity.Customer">
        select * from customers where username = #{username}
    </select>
    <select id="getCustomerByUuid" resultType="com.mo.entity.Customer">
        select * from customers where uuid = #{uuid}
    </select>
    <insert id="saveCustomer"
            parameterType="com.mo.entity.Customer"
            useGeneratedKeys="true"
            keyProperty="customer.id">
        insert into customers (uuid,wechat_openid,username,password,avatar_url,balance,createTime,updateTime)
        values (#{customer.uuid},#{customer.openid},#{customer.username},#{customer.password},#{customer.avatar_url},0 ,
                #{customer.createTime},#{customer.updateTime})
    </insert>
</mapper>