<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.CustomerMapper">
    <select id="getCustomerByUsername" resultType="com.mo.entity.Customer">
        select * from customers where username = #{username}
    </select>
    <select id="getCustomerByUuid" resultType="com.mo.entity.Customer">
        select * from customers where uuid = #{uuid}
    </select>
    <select id="getCustomerById" resultType="com.mo.entity.Customer">
        select * from customers where id = #{id}
    </select>
    <select id="getAllCustomer" resultType="com.mo.entity.Customer">
         select * from customers
    </select>
    <select id="getCustomerByOpenid" resultType="com.mo.entity.Customer">
        select * from customers where wechat_openid = #{openid}
    </select>
    <select id="searchForCustomer" resultType="com.mo.entity.Customer">
        select * from customers where
            <if test="name != null and name != ''">
                username like concat('%',#{name},'%')
            </if>
    </select>

    <update id="updateCustomer" parameterType="com.mo.entity.Customer">
        update customers
        <set>
            <if test="customer.username != null">
                username = #{customer.username},
            </if>
            <if test="customer.password != null">
                `password` = #{customer.password},
            </if>
            <if test="customer.avatar_url != null">
                avatar_url = #{customer.avatar_url},
            </if>
            <if test="customer.balance != null">
                balance = #{customer.balance},
            </if>
        </set>
        where id = #{customer.id}
    </update>

    <insert id="saveCustomer"
            parameterType="com.mo.entity.Customer"
            useGeneratedKeys="true"
            keyProperty="customer.id">
        insert into customers (uuid,wechat_openid,username,password,avatar_url,balance,createTime,updateTime)
        values (#{customer.uuid},#{customer.openid},#{customer.username},#{customer.password},#{customer.avatar_url},0 ,
                #{customer.createTime},#{customer.updateTime})
    </insert>
</mapper>