<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.DishMapper">
    <select id="getCategories" resultType="com.mo.entity.Dish">
        select * from dishes where status = 1
                             order by category_id
    </select>
    <select id="getPage" resultType="com.mo.entity.Dish">
        select * from dishes where status = 1
                             limit #{offset},#{size}
    </select>
    <select id="getDishByCategory" resultType="com.mo.entity.Dish">
        select * from dishes where status = 1
                               and category_id = #{categoryId}
    </select>
    <select id="getSearchResult" resultType="com.mo.entity.Dish">
        select * from dishes where status = 1
                               and name like concat('%',#{name},'%')
    </select>


    <select id="getDishById" resultType="com.mo.entity.Dish">
        select * from dishes where id = #{id}
    </select>
    
    <insert id="saveDish"
            parameterType="com.mo.entity.Dish"
            useGeneratedKeys="true"
            keyProperty="dish.id">
        insert into dishes(name,category_id,price,image,description,
                           status,sale,create_time,update_time,create_user,update_user)
        values(#{dish.name},#{dish.categoryId},#{dish.price},#{dish.image},#{dish.description},
               #{dish.status},#{dish.sale},#{dish.createTime},#{dish.updateTime},#{dish.createUser},#{dish.updateUser})
    </insert>
</mapper>