<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.EmployeeMapper">
    <select id="getEmployeeByUsername" resultType="com.mo.entity.Employee">
        select * from employees where username = #{username}
    </select>
    <select id="getEmployeeByUuid" resultType="com.mo.entity.Employee">
        select * from employees where uuid = #{uuid}
    </select>
    <select id="getAll" resultType="com.mo.entity.Employee">
        select * from employees where status = 1
    </select>
    <select id="getPage" resultType="com.mo.entity.Employee">
        select * from employees where status = 1
        limit #{offset},#{size}
    </select>
    <insert id="saveEmployee"
            parameterType="com.mo.entity.Employee"
            useGeneratedKeys="true"
            keyProperty="employee.id">
        insert into employees (username,password,createTime,updateTime,merchant_id)
        values (#{employee.username},#{employee.password},
                #{employee.createTime},#{employee.updateTime},#{employee.merchant_id})
    </insert>
    <update id="updateEmployee" parameterType="com.mo.entity.Employee">
        update employees
        set
            <if test="employee.username ！= null and employee.username != ''">
                username = #{employee.username}
            </if>
            <if test="employee.password != null and employee.password != ''">
                password = #{employee.password},
            </if>
            <if test="employee.updateTime != null">
                updateTime = #{employee.updateTime},
            </if>
            <if test="employee.merchant_id != null">
                merchant_id = #{employee.merchant_id},
            </if>
        where id = #{employee.id}
    </update>
    <delete id="deleteEmployee">
        delete from employees where id = #{id}
    </delete>
</mapper>