<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.MerchantMapper">
    <select id="getMerchantByUsername" resultType="com.mo.entity.Merchant">
        select * from merchants where username = #{username}
    </select>
    <select id="getMerchantByUuid" resultType="com.mo.entity.Merchant">
        select * from merchants where uuid = #{uuid}
    </select>
    <select id="getMerchantById" resultType="com.mo.entity.Merchant">
        select * from merchants where id = #{merchantId}
    </select>

    <insert id="saveMerchant"
            parameterType="com.mo.entity.Merchant"
            useGeneratedKeys="true"
            keyProperty="merchant.id">
        insert into merchants (username,password,uuid,number,address,createTime,updateTime)
        values (#{merchant.username},#{merchant.password},#{merchant.uuid},#{merchant.number},#{merchant.address},
                #{merchant.createTime},#{merchant.updateTime})
    </insert>
</mapper>