<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.OrderMapper">
    <select id="getAll" resultType="com.mo.entity.Order">
        select * ,customer_id as userId
        from orders
    </select>
    <select id="getPage" resultType="com.mo.entity.Order">
        select * ,customer_id as userId
        from orders
        limit #{offset},#{size}
    </select>
    <select id="getPageByUserId" resultType="com.mo.entity.Order">
        select * ,customer_id as userId
        from orders where customer_id = #{userId}
        limit #{offset},#{size}
    </select>
    <select id="getOrderById" resultType="com.mo.entity.Order">
        select * ,customer_id as userId
        from orders where id = #{orderId}
    </select>
    <select id="getOrderByUserId" resultType="com.mo.entity.Order">
        select * ,customer_id as userId
        from orders where customer_id = #{userId}
    </select>
    <select id="getOrderByPeriod" resultType="com.mo.entity.Order">
        select * ,customer_id as userId from orders
        <where>
            <if test="startDate != null">
                and orderTime &gt; #{startDate}
            </if>
            <if test="endDate != null">
                and orderTime &lt; #{endDate}
            </if>
        </where>
    </select>

    <update id="updateOrder">
        update orders
        <set>
            <if test="order.userId != null">
                customer_id = #{order.userId},
            </if>
            <if test="order.merchantId != null">
                merchant_id = #{order.merchantId},
            </if>
            <if test="order.orderTime != null">
                orderTime = #{order.orderTime},
            </if>
            <if test="order.status != null">
                status = #{order.status},
            </if>
            <if test="order.payStatus != null">
                pay_status = #{order.payStatus},
            </if>
            <if test="order.total != null">
                total = #{order.total},
            </if>
            <if test="order.updateTime != null">
                updateTime = #{order.updateTime},
            </if>
        </set>
        where id = #{order.id}
    </update>

    <insert id="saveOrder"
            parameterType="com.mo.entity.Order"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into orders(customer_id, merchant_id, orderTime, status, total, createTime, updateTime)
        values(#{userId}, #{merchantId}, #{orderTime}, #{status}, #{total}, #{createTime}, #{updateTime})
    </insert>
</mapper>