<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.OrderMapper">
    <select id="getAll" resultType="com.mo.entity.Order">
        select * from orders
    </select>
    <select id="getPage" resultType="com.mo.entity.Order">
        select * from orders where customer_id = #{userId}
        limit #{offset},#{size}
    </select>
    <select id="getOrderById" resultType="com.mo.entity.Order">
        select * from orders where id = #{orderId}
    </select>
    <update id="updateOrderStatus">
        update orders set status = #{status} where id = #{orderId}
    </update>
    <insert id="saveOrder"
            parameterType="com.mo.entity.Order"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into orders(customer_id, merchant_id, orderTime, status, total)
        values(#{userId}, #{merchantId}, #{orderTime}, #{status}, #{total})
    </insert>
    <select id="getOrderByPeriod" resultType="com.mo.entity.Order">
        select * from orders where create_time between #{startDate} AND #{endDate}
    </select>
</mapper>