<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.service.mapper.StoreMapper">
    <select id="getAll" resultType="com.mo.entity.Store">
        select * from stores
    </select>

    <update id="updateStore" parameterType="com.mo.entity.Store">
        update stores
        <if test="store.name != null">
            set name = #{store.name}
        </if>
        <if test="store.address != null">
            set address = #{store.address}
        </if>
        <if test="store.info != null">
            set info = #{store.info}
        </if>
        where id = #{store.id}
    </update>
</mapper>